{% extends 'base.html.twig' %}

{% block title %}Edit User {{ user.email }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">Admin</li>
    <li class="breadcrumb-item"><a href="{{ path('nines_user_admin_index') }}">Users</a></li>
    <li class="breadcrumb-item"><a href="{{ path('nines_user_admin_show', { id: user.id }) }}">{{ user.email }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
{% endblock %}

{% block body %}
    <h1 class="h4">Edit User {{ user.email }}</h1>

    {% embed '@NinesUser/admin/partial/form.html.twig' %}
    {% endembed %}
{% endblock %}