{% extends 'base.html.twig' %}

{% block title %}Change User Password{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">Admin</li>
    <li class="breadcrumb-item"><a href="{{ path('nines_user_admin_index') }}">Users</a></li>
    <li class="breadcrumb-item"><a href="{{ path('nines_user_admin_show', { id: user.id }) }}">{{ user.email }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
{% endblock %}

{% block body %}
    <h1 class="h4">Change User Password</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mb-3 row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a href='{{ path('nines_user_admin_show', {id: user.id}) }}' class='btn btn-warning'>Cancel</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
