{% use "@NinesUtil/form/bootstrap_5_layout.html.twig" %}

{%- block form_label -%}
    {% if id -%}
        {% set label_attr = label_attr|merge({'id': id ~ '_label'}) %}
    {%- endif -%}
    {{ parent() }}
{%- endblock form_label -%}

{%- block form_start -%}
    {{ parent() }}
    <div class="row">
        <div class="col">
{%- endblock form_start -%}

{%- block form_end -%}
        </div>
        <div class="col-auto d-none d-lg-block mx-3">
            <div class="sticky-top">
                <strong class="h6 text-muted">Table of Contents</strong>
                <hr class="my-2">
                <nav id="table-of-contents-sidebar" class="nav flex-column">
                    {%- for field in form.children -%}
                        {%- if 'hidden' not in field.vars.block_prefixes and field.vars.label and field.vars.id -%}
                            <a href="#{{ field.vars.id }}_label" class="link-secondary small mb-1">{{ field.vars.label }}</a>
                        {%- endif -%}
                    {%- endfor -%}
                </nav>
                <hr class="my-2">
                {% if table_of_contents_submit -%}
                    <input type="submit" value="{{ table_of_contents_submit.label ?? 'Save' }}" class="btn btn-primary w-100 mb-2" />
                {%- endif -%}
                {% if table_of_contents_cancel -%}
                    <a href="{{ table_of_contents_cancel.path }}" class="btn btn-warning w-100 mb-2"> {{ table_of_contents_cancel.label ?? 'Cancel' }} </a>
                {%- endif -%}
            </div>
        </div>
    </div>
    {{ parent() }}
{%- endblock form_end -%}