{% use "bootstrap_5_horizontal_layout.html.twig" %}

{%- block datalist_widget -%}
    {% set datalist_id = id ~ '_datalist' %}
    {% set attr = attr|merge({'list': datalist_id}) %}
    {{- block('form_widget') -}}
    <datalist id="{{ datalist_id }}">
        {% for item in datalist %}
            <option value="{{ item }}">
        {%- endfor -%}
    </datalist>
{%- endblock datalist_widget -%}

{%- block form_end -%}
    {{ parent() }}
    <div id="select2entity_modal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content"></div>
        </div>
    </div>
{%- endblock form_end -%}

{% block form_label -%}
    {%- if label != false -%}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' h6')|trim}) %}
        {{- parent() -}}
    {%- endif -%}
{%- endblock form_label %}

{% block form_group_class -%}
    {{ label == false ? 'col-sm-12' : 'col-sm-10' }}
{%- endblock form_group_class %}

{% block form_row -%}
    {#- collection row hack -#}
    {%- set is_collection = 'collection' in (form.parent.vars.attr.class ?? '') -%}

    {%- if is_collection -%}
        <div class="row mb-3 gy-2">
            <div class="col-lg">
    {%- endif -%}
    {% if attr.html_block is defined %}
        {{ attr.html_block|raw }}
    {% endif %}

    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        {%- set widget_attr = {} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~ "_help"}} -%}
        {%- endif -%}
        {%- set row_class = row_class|default(row_attr.class|default('mb-3')) -%}
        {%- set is_form_floating = is_form_floating|default('form-floating' in row_class) -%}
        {%- set is_input_group = is_input_group|default('input-group' in row_class) -%}
        {#- Remove behavior class from the main container -#}
        {%- set row_class = row_class|replace({'form-floating': '', 'input-group': ''}) -%}
        <div{% with {attr: row_attr|merge({class: (row_class ~ ' row' ~ ((not compound or force_error|default(false)) and not valid ? ' is-invalid'))|trim})} %}{{ block('attributes') }}{% endwith %}>
            {%- if is_form_floating or is_input_group -%}
                <div class="{{ block('form_label_class') }}"></div>
                <div class="{{ block('form_group_class') }}">
                    {%- if is_form_floating -%}
                        <div class="form-floating">
                            {{- form_widget(form, widget_attr) -}}
                            {% if attr.add_route is defined or attr.add_path is defined %}
                                {% if attr.add_modal is defined and attr.add_modal %}
                                    <button type="button" class="btn btn-primary select2entity-modal-btn" data-bs-toggle="modal" data-bs-target="#select2entity_modal" data-modal-content-route="{{ attr.add_route ?? path(attr.add_path) }}" data-modal-result-target="#{{ id }}">
                                        <i class="bi bi-plus-circle"></i> {{ attr.add_label }}
                                    </button>
                                {% else %}
                                    <a href="{{ attr.add_route ?? path(attr.add_path) }}" class="btn btn-primary" target="_blank"><i class="bi bi-plus-circle"></i> {{ attr.add_label }}</a>
                                {% endif %}
                            {% endif %}
                            {{- form_label(form) -}}
                        </div>
                    {%- elseif is_input_group -%}
                        <div class="input-group">
                            {{- form_label(form) -}}
                            {{- form_widget(form, widget_attr) -}}
                            {% if attr.add_route is defined or attr.add_path is defined %}
                                {% if attr.add_modal is defined and attr.add_modal %}
                                    <button type="button" class="btn btn-primary select2entity-modal-btn" data-bs-toggle="modal" data-bs-target="#select2entity_modal" data-modal-content-route="{{ attr.add_route ?? path(attr.add_path) }}" data-modal-result-target="#{{ id }}">
                                        <i class="bi bi-plus-circle"></i> {{ attr.add_label }}
                                    </button>
                                {% else %}
                                    <a href="{{ attr.add_route ?? path(attr.add_path) }}" class="btn btn-primary" target="_blank"><i class="bi bi-plus-circle"></i> {{ attr.add_label }}</a>
                                {% endif %}
                            {% endif %}
                            {#- Hack to properly display help with input group -#}
                            {{- form_help(form) -}}
                        </div>
                    {%- endif -%}
                    {%- if not is_input_group -%}
                        {{- form_help(form) -}}
                    {%- endif -%}
                    {{- form_errors(form) -}}
                </div>
            {%- else -%}
                {{- form_label(form) -}}
                <div class="{{ block('form_group_class') }}">
                    {% if attr.add_route is defined or attr.add_path is defined %}
                        <div class="row mb-3 gy-2">
                            <div class="col-lg">
                                {{- form_widget(form, widget_attr) -}}
                            </div>
                            <div class="col-lg-auto">
                                {% if attr.add_modal is defined and attr.add_modal %}
                                    <button type="button" class="btn btn-primary select2entity-modal-btn" data-bs-toggle="modal" data-bs-target="#select2entity_modal" data-modal-content-route="{{ attr.add_route ?? path(attr.add_path) }}" data-modal-result-target="#{{ id }}">
                                        <i class="bi bi-plus-circle"></i> {{ attr.add_label }}
                                    </button>
                                {% else %}
                                    <a href="{{ attr.add_route ?? path(attr.add_path) }}" class="btn btn-primary" target="_blank"><i class="bi bi-plus-circle"></i> {{ attr.add_label }}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        {{- form_widget(form, widget_attr) -}}
                    {% endif %}
                    {{- form_help(form) -}}
                    {{- form_errors(form) -}}
                </div>
            {%- endif -%}
        </div>
    {%- endif -%}

    {%- if is_collection -%}
            </div>
            <div class="col-lg-auto text-end">
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-primary btn-sm collection-remove"><i class="bi bi-dash-circle"></i></a>
                    <a href="#" class="btn btn-primary btn-sm collection-add"><i class="bi bi-plus-circle"></i></a>
                </div>
            </div>
        </div>
    {%- endif -%}
{%- endblock form_row %}