<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Label</th>
            <th>Description</th>
            <th>Uri</th>
            <th>Comment</th>

        </tr>
    </thead>
    <tbody>
        {% for element in elements %}
            <tr>
                <td>
                    <a href="{{ path('nines_dc_element_show', {'id': element.id}) }}">
                        {{ element.id }}
                    </a>
                </td>
                <td>
                    {{ element.name }}
                </td>

                <td>
                    {{ element.label }}
                </td>

                <td>
                    {{ element.description|default('')|sanitize_html }}
                </td>

                <td>
                    {{ element.uri }}
                </td>

                <td>
                    {{ element.comment|default('')|sanitize_html }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
