<dl id='error-details' class="row">
    <dt class="col-sm-2 text-sm-end">Date</dt>
    <dd class="col-sm-10">{{ date }}</dd>
    <dt class="col-sm-2 text-sm-end">IP</dt>
    <dd class="col-sm-10">{{ ip }}</dd>
    <dt class="col-sm-2 text-sm-end">URL</dt>
    <dd class="col-sm-10">{{ url }}</dd>
    <dt class="col-sm-2 text-sm-end">Referrer</dt>
    <dd class="col-sm-10">{{ referrer|default('No referrer') }}</dd>
    <dt class="col-sm-2 text-sm-end">Class</dt>
    <dd class="col-sm-10">{{ status }} - {{ class }}</dd>
    <dt class="col-sm-2 text-sm-end">Message</dt>
    <dd class="col-sm-10">{{ message }}</dd>
    <dt class="col-sm-2 text-sm-end">Browser Info</dt>
    <dd id='browser-info' class="col-sm-10"></dd>
</dl>

<button class="btn btn-primary" id='copy-btn'>Copy Details</button>

{% if is_granted('ROLE_ADMIN') %}
    <div>
        <h3>Details</h3>
        <ol aria-label="Error Details">
            {% for trace in backtrace %}
                <li>
                    {{ trace['file']|slice(trim) }}:{{ trace['line'] }} {% if trace['function'] %} in {{ trace['function'] }}(){% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}

{% if app.environment != 'test' %}
<script type='application/javascript'>
    function copyDetails(e) {
        e.preventDefault();
        let text = "";
        let details = document.querySelectorAll("#error-details dd");
        for(let d of details.values()) {
            text += d.textContent + "\n";
        }
        navigator.clipboard.writeText(text).then(
            () => document.querySelector("#copy-btn").innerText="Copied",
            () => alert("Copy to clipboard failed. Please copy manually.")
        );
    }

    $(document).ready(function(){
        $("#browser-info").text(navigator.userAgent);
        $("#copy-btn").on('click', (e) => copyDetails(e));
    });
</script>
{% endif %}
