{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ status }} {{ message }}</h1>

    <p><strong>{{ class }}</strong> <br>
        {{ status }} - {{ message }}<br>
    </p>

    {% include('@NinesUtil/error/details.html.twig') %}

    <p><button class="btn btn-primary" onclick="window.history.go(-1)">Back</button></p>
{% endblock %}
